fastapi==0.110.0
uvicorn==0.29.0
requests==2.31.0

google-generativeai==0.4.1

# Explicitly add PyYAML to fix 'cython_sources' build error
PyYAML>=6.0.1

python-dotenv==1.0.1

pypdf==4.2.0
python-multipart==0.0.9

pymongo==4.6.1
certifi
beautifulsoup4

# LangChain
langchain>=0.1.10
langchain-google-genai>=0.0.9
langchain-core>=0.1.28
langchain-hyperbrowser

# Authentication
PyJWT==2.8.0
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
itsdangerous==2.1.2
google-auth==2.27.0
bcrypt==4.1.2
